certifi==2020.12.5
chardet==4.0.0
click==7.1.2
Flask==1.1.2
Flask-WTF==0.14.3
gTTS==2.2.1
gunicorn==20.0.4
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
pyqt5-plugins==5.15.2.2.0.1
PyQt5-sip==12.8.1
pyqt5-tools==5.15.2.3
python-dotenv==0.15.0
qt5-applications==5.15.2.2.1
requests==2.25.1
six==1.15.0
urllib3==1.26.2
Werkzeug==1.0.1
WTForms==2.3.3
